.name{

    width: 275px;
    height: 50px;
    left: 97px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
}

.all{
    margin-top: 141px;
}

.items{
    margin-top: 160px;
    margin-left: 350px;
}