
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
  }
  
  .form-box {
    background-color: #CFCFCF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .form-box h2 {
    color: #fff;
    background-color: #CFCFCF;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    text-align: left; 
    font-style: italic;
    font-weight: bold;
    margin: -20px -20px 20px -20px;
  }
  
  .form-box div {
    margin-bottom: 15px;
  }
  
  .form-box label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-box input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
  }
  
  .form-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-box button:hover {
    background-color: #0056b3;
  }

  .replace-block{
    margin-top: 15px
  }
  