body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.profile-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 100px; 
  padding: 50px;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
  margin-right: 20px;
  margin-top: 10px;  
}

.logout-button:hover {
  color: blue;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 20px;
}

.profile-info h2 {
  margin: 0;
  font-size: 24px;
}

.profile-info p {
  margin: 5px 0 0;
  color: #555;
}

.profile-section {
  padding: 10px 0;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  display: grid;
  color: black;
}

.profile-section:hover {
  color: blue;
}
