.name{
    padding-top: 50px;
    width: 600px;
    height: 50px;
    left: 97px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
    margin-left: 95px;
}

.all{
    margin-top: 141px;
    height: 100%;
}

.items{
    margin-top: 130px;
    margin-left: 25px;
}

.delivery_time{
    display: grid;
    margin-top: 65px;
    margin-left: 95px;
    height: 200px;
}

.delivery_time__name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    width: 300px;
}

.delivery_products{
    display: flex;
}

.delivery_name_items{
    display: grid;
    margin-top: 30px;
}

.radio_items{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.accordion {
    margin: 20px 0;
    cursor: pointer;
    user-select: none;
    position: absolute;
    width: 228px;
    height: 35px;
    left: 440px;
    top: 290px;
}
  
.accordion_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    box-sizing: border-box;
    width: 228px;
    height: 35px;
    border: 2px solid #000000;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 4px;
}

.accordion_title:hover{
    border: 2px solid #5459D7;
}
  
.accordion_content {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 10px;
    width: 228px;
    height: 110px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #000000;
}
  
.accordion_content__text {
    position: relative;
    left: 5px;
    font-family: 'Montserrat';
    font-size: 18px;
    padding: 5px 0;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.accordion_content__text:hover{
    color: gray;
}

.products_pagination{
    margin-top: 15px;
}