@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');


.navbar{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 141px;
    left: 0px;
    top: 0px;
    gap: 20px;
    z-index: 3;
    background: linear-gradient(100.59deg, #0989FF 11.55%, #5400C0 88.45%);
}

.nav-logo{
    position: absolute;
    width: 227px;
    height: 43px;
    left: 99px;
    top: 66px;
    display: flex;
    align-items: center;
    
}
.nav-geo-icon{
    position: absolute;
    display: flex;
    width: 127px;
    height: 24px;
    left: 99px;
    top: 21px;
}

.nav-geo-text{
    position: absolute;
    width: 100px;
    height: 17px;
    left: 126px;
    top: 33px;
    display: flex;
    align-items: center;
   
}

.nav-geo-text p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    text-align: center;

    color: #F5F5F5;
}

.nav-catalog-icon{
    position: absolute;
    width: 54px;
    height: 48px;
    left: 370px;
    top: 65px;
}

.nav-catalog-button{
    border: none;
    background-color: transparent;
}

.nav-input{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 52px;
    left: 507px;
    top: 66px;
    border-radius: 5px;
}

.nav-language-icon{
    position: absolute;
    width: 40px;
    height: 33px;
    left: 1542px;
    top: 66px;
}

.nav-person-icon{
    position: absolute;
    width: 53px;
    height: 50px;
    left: 1520px;

    top: 76px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F5F5F5;


}

.nav-orders-icon{
    position: absolute;
    width: 60px;
    height: 51px;
    left: 1640px;
    top: 76px;
    display: grid;
    align-items: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    text-align: center;

    color: #F5F5F5;


}

.nav-cart-icon{
    position: absolute;
    width: 43px;
    height: 44px;
    left: 1765px;
    top: 76px;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    text-align: center;
    color: #F5F5F5;
}

.all-elements-links{

}

.nav-link{
    text-decoration: none;
    color: #F5F5F5;
}

.nav-link p{
    width: 70px;
}

.input-search{
    position: absolute;
    left: 480px;
    top: 63px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.input-search input {
    width: 950px; 
    height: 50px;
    padding: 15px; 
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px; 
}

.input-search-glass{
    position: relative;
    width: 42px;
    border: none;
    background: white;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
