.image {
  width: 360px;
  height: 315px;
  object-fit: cover;
  border-radius: 20px;
}
  
.item {
  margin: 20px;
  padding-left: 25px;
  width: 410px;
  height: 400px;
  display: flex;
  background: white;
  border-radius: 20px;
  box-shadow: -2px 2px 5px rgba(39, 39, 39, 0.3);
  box-sizing: border-box;
}

.link{
  text-decoration: none;
  color: black;  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px; 
  left: 25px
}
.link:hover{
  color: #5459D7;
}

.text{
  margin-top: 10px;
}


