.description{

}

.no_blur{

}

.blur{
    width: 100vw;
    height: 100vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 3;    
}

.description__content{
    padding-left: 30px;
    right: 0;
    width: 30%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: fixed;
    transform: translateX(100%);
    z-index: 3;  
    transition: 0.5s;
}

.description__content.active{
    transform: translateX(0);
    overflow-y: hidden;
}

.description__header{    
    padding-top: 33px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;


    color: #000000;
}

.description_product{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 30px;
}

.close_button{
    border: none;
    background: none;
    height: 40px;
}